<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://www.braisedpanda.club:8082/StudentSystem/static/layui/css/layui.css">
    <link rel="stylesheet"  href="http://www.braisedpanda.club:8082/StudentSystem/static/lib/css/body.css">
    <script src="http://www.braisedpanda.club:8082/StudentSystem/static/layui/layui.js"></script>
</head>
<style>
    body{
        background-image: url("http://www.braisedpanda.club:8082/StudentSystem/static/images/background/page_bg.JPG");
        background-size: 100%;

    }
</style>
<body>
<div class="body">
首页
</div>
</div>
</body>
</html>